* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f6fa;
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__left {
  flex: 0.9;
}

.app__right {
  display: flex;
  flex-direction: column;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.app__logoWrapper > h1 {
  color: #fd2562;
  font-size: 2rem;
  margin-left: 10px;
}

.app__dropdown {
  background-color: white;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.map__info {
  font-weight: 600;
  margin-top: 10px;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
.app__rightGraphHeader {
  padding: 0.5rem;
}

.app__logo {
  background-image: url("../logo.png");
  height: 32px;
  width: 32px;
}

.app__logoWrapper {
  display: flex;
  align-items: center;
}

.app__headerRight {
  display: flex;
  align-items: center;
}

.logo__location {
  margin-right: 20px;
  cursor: pointer;
}

.logo__location:hover {
  color: #fd2562 !important;
}
